    /* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
    margin: 0;
    }

    .heart {
    position: relative;
    width: 100px;
    height: 90px;
    background: red;
    transform: rotate(-45deg);
    animation: beat 1s infinite;
    }

    .heart::before,
    .heart::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 90px;
    background: red;
    border-radius: 50%;
    }

    .heart::before {
    top: -50px;
    left: 0;
    }

    .heart::after {
    left: 50px;
    top: 0;
    }

    /* Animation */
    @keyframes beat {
    0%, 20%, 40%, 60%, 80%, 100% {
        transform: rotate(-45deg) scale(1);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: rotate(-45deg) scale(1.2);
    }
    } */
